log4j.rootLogger=DEBUG, A1

log4j.appender.A1=org.apache.log4j.ConsoleAppender
#log4j.appender.A1.ImmediateFlush=true

service.Networks=/home/proj/biosoft/ws/croco-web
service.CroCoOntologyFile=/home/proj/biosoft/ws/croco-web/croco.obo
service.CroCoOntoloyMappingFile=/home/proj/biosoft/ws/croco-web/croco.obo.mapping

log4j.appender.A1.Append=true
log4j.appender.A1.layout=org.apache.log4j.PatternLayout
log4j.appender.A1.layout.ConversionPattern=%-5p: %C\:%L %x [%d] - %m%n

util.DatabaseConnection.dbdriver=com.mysql.jdbc.Driver

util.DatabaseConnection.dbconstr=jdbc:mysql://mysql2-ext:3307/croco

util.DatabaseConnection.user=croco
util.DatabaseConnection.password=croco

util.DatabaseConnection.autoReconnect=true

